test {
  háttér szín: világoskék;
  betűtípus-család: Comic Sans MS;
}
div {
  kijelző: inline-block;
  pozíció: relatív;
  túlcsordulás: rejtett;
  margin: 2px;
  háttér szín: világoskék;
  szélesség: 200 képpont;
  magasság: 200 képpont;
  szegély: 2 képpont szilárd fekete;
}
p {
  pozíció: abszolút;
  háttér szín: fehér;
  alsó: -1em;
  felső oldal: 2 képpont szilárd fekete;
  jobb oldali: 2 képpont szilárd fekete;
  párnázat: 5px;
  jobb margó: -2px;
  betűméret: 10pt;
}
img {
  max-magasság: 100%;
  kijelző: blokk;
  margin: 0 auto;
}
